{% extends "index.html" %}

{% block title %}{{ page.title }} &middot; {{ config.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block content %}
<article>
  <h1>{{ page.title }}</h1>

  {% if page.date %}
    <p style="font-size:90%;">Posted on <time datetime="{{ page.date | date(format="%+") }}">{{ page.date | date(format="%B %d, %Y") }}</time></p>
  {% endif %}

  {{ page.content | safe }}
</article>
{% endblock content %}
